<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user['firstname']}} {{user['lastname']}}'s profile</title>
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div id="video-container">
        <video autoplay muted loop id="background-video">
            <source src="../static/vid/space.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="container">
            <h1>Your profile</h1>
            <p>Name: {{user['firstname']}} {{user['lastname']}}</p>
            <p>Username: {{user['username']}}</p>
            <p>Email: {{user['email']}}</p>
            <p>Phone number: {{user['phone']}}</p>
            <p>Gender: {{user['gender']}}</p>
            <p>Date of Birth (yyyy-mm-dd): {{user['dob']}}</p>
            <a href="/home">Back</a>
        </div>
    </div>
</body>
</html>